<h1>Game Fan Manager Welcomes You</h1>
<%= link_to "Login Developer", '/login' %> <br>
<%= link_to "Register Developer", new_developer_path, class: "btn btn-primary" %> <br>
<%= link_to "Index Developers", developers_path, class: "btn btn-primary" %> <br>
<%= link_to "Index Games", games_path, class: "btn btn-primary" %> <br>
<%= link_to "Index Fans", fans_path%> <br>
<br>
<%= link_to "Game Fans Vote Here!", new_fan_path, class: "btn btn-primary" %> <br>
<%= link_to "Current Vote Tally", 'tally'%>
<br>
<%= link_to "Class Method Test", 'order'%>
<br> <br>
<%= link_to "JavaScript Index Test", 'jsindex'%>

<br> <br>
<% if session[:dev_id] %>
  <%= link_to "Log out", logout_path, method: :delete %>   
<% end %>