<h1><%= @developer.name %></h1>
<p id="notice"><%= notice %></p>
<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>
<div class="center">
  <div class="info">
    <p><strong>Name:</strong> <%= @developer.name %></p>
    <p><strong>Employees:</strong> <%= @developer.employees %></p>
    <p><strong>Location:</strong>  <%= @developer.location %></p>
    <% @games.each do |game| %>
      <p>
        <%= link_to "#{game.title}", game_path(game) %>
      </p> 
    <% end %>
    <br>
    <%= link_to "Add Game", new_developer_game_path(@developer) %>
  </div>
  <br>
  <%= link_to "Return to Developer Index", developers_path %>
</div>
