<h1>Developer Login</h1>
<%= form_for @dev, url: login_path, method: :post do |f| %>
  <div class="field"><%= f.label :name, "Select your Developer" %><br>
    <%= f.collection_select(:id, @devs, :id, :name) %>
  </div>

  <%= f.label :password %>
  <%= f.password_field :password %>

 <div class="actions">
    <%= f.submit "Log In"  %>
<% end %>

<%# OAUTH %>
<% if current_dev.blank? %>
  <h1>OAuth SignIn</h1>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% else %>
  <p>
    You are signed in as <%= current_dev.name %>.  Click the button below to sign out.
  </p>

  <%= button_to "Sign Out", logout_path, method: :delete %>
<% end %>

<br><br>

<%= link_to "Back to Home", '/' %>