<%= form_for(@game) do |f| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
        <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %></div>
    
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.text_field :genre, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %></div>

    <%= f.hidden_field :developer_id, value: params[:developer_id] %>

  <div class="actions">
    <%= f.submit "Create Game" %>
  </div>
<% end %>