<h1>Games Index</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Title</strong></td>
      <td><strong>Genre</strong></td>
      <td><strong>Price</strong></td>
      <td><strong>Developer</strong></td>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to "#{game.title}", game_path(game) %></td>
        <td><%= game.genre %></td>
        <td><%= game.price %></td>
        <td><%= game.developer.name %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<br> <br>
<%= link_to "Back to Home", '/' %>
